<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <title>LoginRegister</title>
</head>
<body>

    <header class="header"> 
     
        <div class="auth padding">
            <a class="auth-link" href="/">Sign Up</a>
            <div class="breaker"></div>
            <a class="auth-link" href="/">Register</a>
        </div>
    </header>

    <div class="intro">
        <svg class="logo" width="400" height="140" viewBox="0 0 400 140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 41.2717C25 33.8536 32.3784 27.8398 41.48 27.8398H63.1512H84.8224C93.924 27.8398 101.302 33.8536 101.302 41.2717V43.2771C101.302 47.9192 98.3615 52.2321 93.525 54.6835L91.4968 55.711L30.356 89.4922L60.9312 68.9401C68.3256 63.9703 65.1777 54.2201 55.7395 52.8608L54.3833 52.6646C52.3957 52.3785 50.3492 52.7305 48.6725 53.6465C45.7796 55.2275 44.5194 58.1771 45.5825 60.8796L45.9876 61.9098C47.749 66.388 53.9343 68.5895 59.1614 66.5976L67.6572 63.3605C68.9149 62.8809 70.3075 62.6862 71.6895 62.7936C79.8598 63.4343 81.3817 72.6231 73.7122 75.0073L53.4598 81.3014C47.4387 83.1725 48.087 90.2806 54.3814 91.4062C59.1116 92.2511 63.2694 88.7279 62.0479 84.9079L59.9157 78.2416C56.7636 68.3853 72.2566 61.9326 80.2087 69.7903L97.5356 86.9119C99.9707 89.3176 101.302 92.3398 101.302 95.4586V102.387C101.302 109.805 93.924 115.819 84.8224 115.819H41.48C32.3784 115.819 25 109.805 25 102.387V41.2717Z" fill="white"/>
            <path d="M122.726 48.2563H158.25L126.098 98.6259H158.25V115.819H109.048L122.726 48.2563Z" fill="white"/>
            <path d="M174.638 24.3477H183.125H190.706L183.125 41.7419L190.706 57.1886V115.752H174.638V57.1886L183.125 41.7419L174.638 24.3477Z" fill="white"/>
            <path d="M209.576 48.2563H222.019L247.975 81.0301L258.851 48.2563V115.819L222.019 74.1127L209.576 115.819V48.2563Z" fill="white"/>
            <path d="M272.365 47.3164H292.128L293.027 64.9122L320.486 47.3164L294.58 80.9633L317.953 108.364L272.365 115.752V47.3164Z" fill="white"/>
            <path d="M339.191 48.9279L353.693 45.167L370.503 46.3759L351.716 67.934L375.2 95.6037L373.469 105.946L365.806 110.849L336.554 115.819L357.401 95.6037L335.318 75.9932L333.835 62.2255L339.191 48.9279Z" fill="white"/>
            <rect x="6" y="6" width="388" height="128" rx="44" stroke="white" stroke-width="12"/>
        </svg>


        <div class="search">
            > </div> </div>


    </div>

    <nav class="mininav">
       
    </nav>

    <form class="d2" action="/login" method="post">
        <div class="formgroup">
            <label for="username"><p>Username:</p></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Your username" required>
            <label for="password"><p>Password:</p></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Your password" required>
        </div>
        <div class="formbut">
            <button type="submit" class="signin"><p>Sign In</p></button>
            <button type="submit" class="register" formaction="/register"> <p>Register</p></button>
        </div>
    </form>
    
    



    <footer>
        <svg class="logo2" width="400" height="140" viewBox="0 0 400 140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 41.2717C25 33.8536 32.3784 27.8398 41.48 27.8398H63.1512H84.8224C93.924 27.8398 101.302 33.8536 101.302 41.2717V43.2771C101.302 47.9192 98.3615 52.2321 93.525 54.6835L91.4968 55.711L30.356 89.4922L60.9312 68.9401C68.3256 63.9703 65.1777 54.2201 55.7395 52.8608L54.3833 52.6646C52.3957 52.3785 50.3492 52.7305 48.6725 53.6465C45.7796 55.2275 44.5194 58.1771 45.5825 60.8796L45.9876 61.9098C47.749 66.388 53.9343 68.5895 59.1614 66.5976L67.6572 63.3605C68.9149 62.8809 70.3075 62.6862 71.6895 62.7936C79.8598 63.4343 81.3817 72.6231 73.7122 75.0073L53.4598 81.3014C47.4387 83.1725 48.087 90.2806 54.3814 91.4062C59.1116 92.2511 63.2694 88.7279 62.0479 84.9079L59.9157 78.2416C56.7636 68.3853 72.2566 61.9326 80.2087 69.7903L97.5356 86.9119C99.9707 89.3176 101.302 92.3398 101.302 95.4586V102.387C101.302 109.805 93.924 115.819 84.8224 115.819H41.48C32.3784 115.819 25 109.805 25 102.387V41.2717Z" fill="black"/>
            <path d="M122.726 48.2563H158.25L126.098 98.6259H158.25V115.819H109.048L122.726 48.2563Z" fill="white"/>
            <path d="M174.638 24.3477H183.125H190.706L183.125 41.7419L190.706 57.1886V115.752H174.638V57.1886L183.125 41.7419L174.638 24.3477Z" fill="black"/>
            <path d="M209.576 48.2563H222.019L247.975 81.0301L258.851 48.2563V115.819L222.019 74.1127L209.576 115.819V48.2563Z" fill="black"/>
            <path d="M272.365 47.3164H292.128L293.027 64.9122L320.486 47.3164L294.58 80.9633L317.953 108.364L272.365 115.752V47.3164Z" fill="black"/>
            <path d="M339.191 48.9279L353.693 45.167L370.503 46.3759L351.716 67.934L375.2 95.6037L373.469 105.946L365.806 110.849L336.554 115.819L357.401 95.6037L335.318 75.9932L333.835 62.2255L339.191 48.9279Z" fill="black"/>
            <rect x="6" y="6" width="388" height="128" rx="44" stroke="white" stroke-width="12"/>
        </svg>

        <nav>
            <ul>
                <li>About Us</li>
                <li>Privacy Policy</li>
                <li>Contanct Us</li>
            </ul>
        </nav>

        <nav>
            <ul>
                <li>Developers</li>
                <li>Jobs</li>
                <li>Copyright Policy</li>
            </ul>
        </nav>

        <div class="sword">


          <p>UTESHKALIEV ALIASKAR SE2201</p>
        </div>


    </footer>
    

</body>
</html>