body {
    margin: 0;
  }

  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;}

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
    justify-content: space-around;
    padding-bottom: 40px;
    
  
    background: black;
  }
  
  a {
    text-decoration: none!important;
  }

  .auth {
    display: flex;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
  }
  
  .auth a {
    color: white;
  }
  
  .padding {
    padding: 20px 100px 0;
  }
  
  .logo{
    width: auto;
    display: flex;
  }

  .logo2{
    width: auto;
    display: flex;
  
  }

  .breaker {
    width: 2px;
    height: 25px;
    background-color: #ffffff ;
    
  }


.intro {

    background: black;
    width: 100%;

  
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;}

    .search input {

        padding: 10px 35px;
        border-radius: 15px;
    }
    
    .search button {
    
        padding: 10px 35px;
        border-radius: 15px;
    }

    .mininav {
        background-color: #eeff00;
        display: flex;
        justify-content: center;
        gap: 35px;
        padding: 12px 0;
        font-size: 24px;
        text-transform: uppercase;
       
      }

    
    .mininav a {
      font-family: 'Inter', sans-serif;
      color: black;
      text-decoration: none;
    }
    .breaker {
      width: 2px;
      height: 25px;
      background-color: black ;
      
    }

      .error{

        display: grid;
        align-items: center;
        justify-items: center;
    }


      .weekchart{
        width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 80px;
    
      }


      .chart {
        border-collapse: collapse;
        width: 60%;
        font-size: 25px;
      }
    table tr td:nth-child(4), td:nth-child(5) {
      color: gray;
    }
    table tr td:nth-child(1){
      font-size: 30px;
    }
    
    tr{ 
      /* border-top: 1px solid purple;
      border-bottom: 1px solid purple; */
    }
    td, th {
      margin: 0, 25px;
      border-bottom: 2px solid black;
    }
    .chart th, td, tr{
      font-family: 'Inter', sans-serif;
    }
    
      
    
    .stick{
      position: relative;
      margin-top: 100px;
      margin-bottom: 100px;
      width: 2px;
      height: 700px;
      background-color: #eeff00;
    
    }
    .quartertop{
      
      background-color: #eeff00;
      width: 340px;
      height: 330px;
      max-width: 100%;
    }
    .quartertop h1{
      margin: 0%;
      font-family: 'Inter', sans-serif;
      font-size: 80px;
      color: black;
    }
    .weeklytop p{
      max-width: 100%;
      width: 330px;
      height: 330px;
      color: gray;
      
    }

    .wez p{

      font-size: 30px;}

   .infocity{
    border-top: 5px solid #eeff00 ;
    width: 100%;
    margin: 0%;
    height: auto;
    display: grid;
    justify-items: center;
    background-color: #ffffff;

   }


.infocity p{
  
  font-size: 25px;
    color: black;
    
}
.infocity h2{
    margin-top: 20px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}




  footer{
    width: 100%;
    padding: 120px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #eeff00;
    border-top: 20px solid black ;
    align-items: center;
    margin-top: 30px;
  
  
  
  }
  
  footer ul {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 27px;
    color: black;
  
  }
  
  footer ul li{
    margin-bottom: 20px;
  }
  
  .sword{
    margin-top: 80px;
  background-color: black;
  height: 2px;
  width: 1300px;
  
  }

  .sword p{
 color:black;
 font-size: 20px;
  
  }


  .d2 p{
    font-size: 20px;
    
  }


  .d2{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-items: center;}
  

   .d2 button{
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 0 60px;
    background-color: #eeff00;
    

   }
  .formgroup {
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .form-control{
    padding: 20px 60px;
    border-radius: 15px;
    font-size: 20px;

  }
  .formbut{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;

  }

  .formbut p{
    color: black;
  }

  .midwww{
    display: grid;
    padding: 60px 0;
    justify-items: center;
  }